@import './animation.scss';
@import './tool-bar.scss';

.easy-previewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, .6);
  overflow: hidden;
  user-select: none;
  transition: all .3s;

  &--visible {
    opacity: 1;

    .easy-previewer{
      &__btn-close {
        animation: up2Down .5s;
      }
    }
  }

  &--hide {
    display: none;
  }

  &__corner {
    position: absolute;
    top: 0.5%;
    right: 2%;
    z-index: 10;
  }

  &__btn-close {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
}