.easy-previewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, .75);
  transition: all .3s;

  &--visible {
    opacity: 1;
  }

  &--hide {
    display: none;
  }

  &__corner {
    position: absolute;
    top: 1%;
    right: 1%;
  }
}